RewriteEngine On
RewriteBase /

# Prevent directory listing
Options -Indexes

# Do not rewrite if the file or directory exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route everything else to index.php
RewriteRule ^ index.php [L]
